# Git and Docker configuration
.git/
.github/
.gitignore
.dockerignore
Dockerfile*
docker-compose*.yml

# OS & Editor configurations
.idea/
.vscode/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Rust
target/
**/*.rs.bk
